body {
  background-color: #ffdcf9;
}

h1 {
  color: #ab7d46;
  margin-left: 550px;
}

h2 {
  color: #660033;
  margin-left: 470px;
}

#pizza {
  padding: 15px;
  background: #cb8da9;
  border: 3px;

}
